---
import type { Feedback } from "../../types";
import { loadQuery } from "../sanity/lib/load-query";

const { data: feedbacks } = await loadQuery<Feedback[]>({
    query: `*[_type == "Testimonials"] | order(_createdAt desc){
        title, 
        feedback, 
        who, 
        position  
}`,
});

---

<div class="mt-12 max-w-5xl mx-auto px-4">
    <h2 class="text-3xl font-bold mb-6 text-center">Testimonials</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {feedbacks.map((feedback) => (
            <div class="border rounded-lg p-4 shadow hover:shadow-lg transition">
                <h3 class="text-xl font-semibold mb-2">{feedback.title}</h3>
                <p class="mb-4">{feedback.feedback}</p>
                <p class="text-sm text-gray-600">
                    from: {feedback.who}, <br />
                    {feedback.position}
                </p>
            </div>
        ))}
    </div>
</div>